#primary {
    padding-block: 20px;

    & div {
        display:flex;
        align-items: center;
        gap: 8px;
    }

    /* nesting css */
    & div:nth-child(2) {
        margin-inline: auto;
    }

    & div:nth-child(3) {
        justify-self: end;
    }
}

#secondary {
    display: grid;
    padding-block: 14px;
    border: 1px solid var(--stroke-color);
    border-inline: none;
    justify-content: space-between;
}

.bord {
    display: none;
}

@media (width < 50em) {
    #primary {
        & div:nth-child(2) {
            & img {
                max-height: 20px;
            }
        }
    }

    #secondary {
        display: none;
        grid-auto-columns: max-content;
        gap: 2rem;
        overflow-x: hidden;
    }

    .bord {
        display: inherit;
        border-bottom: 1px solid var(--stroke-color);
    }
}